@{
    Layout = null;
}
<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>添加用户</title>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/xamin/font.css" rel="stylesheet" />
    <link href="~/Content/xamin/xadmin.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <script src="~/Scripts/xadmin/xadmin.js"></script>
    <script src="~/Scripts/xadmin/cookie.js"></script>
    <script src="~/Scripts/user/respond.min.js"></script>
    <script src="~/Scripts/user/html5.min.js"></script>
</head>

<body>
    <div class="x-body">
        <form class="layui-form">

            <div class="layui-form-item">
                <label for="LoginName" class="layui-form-label">
                    <span class="x-red">*</span>登录名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="LoginName" name="LoginName" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>将会成为您唯一的登入名
                </div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    <span class="x-red">*</span>手机
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="Phone" required="" lay-verify="phone" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>将会成为您唯一的登入名
                </div>
            </div>
            <div class="layui-form-item">
                <label for="UserName" class="layui-form-label">
                    姓名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="UserName" name="UserName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">
                    邮箱
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_email" name="Email" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>性别</label>

                <div class="layui-input-block">
                    <input type="radio" name="Sex" value="False" title="男" checked="">
                    <input type="radio" name="Sex" value="True" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">出生日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Birthday" id="date" placeholder="出生日期" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="IDNum" class="layui-form-label">
                    身份证号
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="IDNum" name="IDNum" lay-verify="idnum" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                <div class="layui-input-block">
                    <input type="radio" name="UserRole" value="NORMAL" title="普通用户" checked="">
                    <input type="radio" name="UserRole" value="ADMIN" title="普通管理员">
                    <input type="radio" name="UserRole" value="SUPERADMIN" title="超级管理员">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="Password" required="" lay-verify="pass" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    增加
                </button>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form', 'layer', 'laydate'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate;

            laydate.render({
                elem: '#date'
            });
            //自定义验证规则
            form.verify({
                nikename: function (value) {
                    if (value.length < 5) {
                        return '昵称至少得5个字符啊';
                    }
                }
                , pass: [/(.+){6,12}$/, '密码必须6到12位']
                , repass: function (value) {
                    if ($('#L_pass').val() != $('#L_repass').val()) {
                        return '两次密码不一致';
                    }
                }
                , userrole: function (value) {
                    if (value.length == 0) {
                        return '用户角色必填';
                    }
                }
            });

            //监听提交
            form.on('submit(add)', function (data) {
                console.log(data.field);
                $.ajax({
                    url: '../User/AddUserSubmit',
                    data: {
                        user: data.field
                    },
                    type: 'post',
                    success: function (data) {
                        if (data.Flag == true) {
                            layer.alert(data.Message, { icon: 6 }, function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                                // 可以对父窗口进行刷新
                                x_admin_father_reload();
                            });
                        } else {
                            layer.alert(data.Message, { icon: 5, skin: 'layer-ext-moon' });
                        }
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>